h1 {
    color: #000000;
    font-size: 100px;
    text-align: left;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 10px ;
    transition: all 500ms ease-in-out;
}

body{
    background-color: #B30000;
}


nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color: #EFBF04;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 15px;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 60px;
    border: 3px, solid, black; /*size, style, colour */
}

nav ul a{
    text-decoration: none;
    font-size: 2em;
    color: black;
    padding: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

nav ul a:hover {
    background-color: #ad8c05e4;

}


#content {
    margin: 20px;
    display: flex;          
    flex-wrap: nowrap;                
}


img{

    float: right; 
    border: 3px, solid white;
    margin-right: 50px;
}

.zoomImg:hover{
    width: 700px;
}

.zoomImg{
    width: 500px;
    transition: 500ms;
    margin: 50px;
}