h1 {
    color: #EFBF04;
    text-align: center;
    background-color: #B30000;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 150px;
    margin-right: 200px;
    border-radius: 50px;
}